[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
bcrypt = "*"
djongo = "*"
pymongo = "==3.12.1"

[dev-packages]
djongo = "*"

[requires]
python_version = "3.11"
